@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
  padding: 2px;
  margin: 0;
}

img{
  margin: -109px 95px;
  width: 211px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.git{
  display: flex;
  justify-content: center;
  align-items: center;
}
.git button{
  /* background-color: red; */
	display:inline-block;
	text-decoration:none;
	font-size:20px;
	padding:0;
  cursor: pointer;
  color: rgb(207, 20, 235);
  border-color: rgb(207, 20, 235);
  border-radius: 0.5rem;
}
.git button a{
	text-decoration:none;
}

.git button:hover{
  background-color: rgb(207, 20, 235);
  color: white;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Roboto', sans-serif;  */
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  /* font-family: 'Dancing Script', cursive; */
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}